@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');

@import "tailwindcss";

@layer tailwind-base, primevue, tailwind-utilities;

body {
    @apply text-sm font-poppins text-black/70 !overflow-x-hidden;
}

@theme {
    --font-poppins: 'Poppins';
    --font-varela: 'Varela Round';

    --color-primary: oklch(0.6995 0.0524 53.79);
    --color-secondary: oklch(0.4865 0.0577 239.82);
    --color-tertiary: oklch(0.9677 0.0084 56.31);
}

.p-button {
    @apply !border-none !text-sm;
}

.p-dropdown-custom {
    @apply !border-none !shadow !font-poppins !text-sm !w-full;
}
  
.p-dropdown-custom-overlay {
    @apply !text-sm !font-poppins !bg-transparent !text-black/70;
}
  
.p-dropdown-custom-option {
    @apply !bg-transparent hover:!bg-primary/10 !text-black/70 !w-full;
}
  
.p-dropdown-custom-label {
    @apply !text-black/60 !text-sm;
}

.p-inputtext {
    @apply !text-sm !w-full;
}
